<div class="card-file">
  <div class="card-header">
    <h2>編集画面</h2>
  </div>

  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="profile">
        <img id="img-prev" src="#" class='hidden' />
      <% if @user.image.url.nil? %>
        <div class="default-img"></div>
      <% else %>
        <%= image_tag @user.image.url, class: "img", id: "img" %>
      <% end %>
      <label class="img-upload">
        <%= f.file_field :image, id: "image_upload" %>
      </label>
      </div>

      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="form-group">
        <%= f.label :birthday %>
        <%= f.date_select :birthday,
                start_year: 1930,
                end_year: (Time.now.year - 18),
                default: Date.new(1989, 1, 1) %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上で表記してください。)</em>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :skill %>
        <%= f.select(:skill, ["主体性", "課題解決能力","客観性","計画力","想像力","傾聴力"], {include_blank: '選択ボックス'}) %>
      </div>

      <div class="form-group">
        <%= f.label :job %>
        <%= f.select(:job, ["自動車", "航空","建設機械","工作機械","ロボット","プラント・エンジニアリング","鉄道","電子部品","半導体","総合電機","パソコン","IT","インフラ","銀行","保険","証券","クレジットカード","食品","医薬品","ゲーム","旅行","エンタメ","広告","建設","不動産","商社","教育","飲食"], {include_blank: '選択ボックス'}) %>
      </div>

      <div class="flex-box">
        <div class="sign-up">
          <%= f.submit "更新" , class: "btn btn-primary text-white"%>
        </div>
      <% end %>
        <%= button_to "削除ボタン", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete , class: "btn btn-outline-warning" %></p>
        <%= link_to "元に戻す", :back, class: "btn btn-danger" %>
      </div>
  </div>
</div>