<h1>こんにちは、<%= current_user.username %>さん</h1>
  <strong>Image:</strong>
  <% if @user.image? %>
    <div class="thumbnail">
      <%= image_tag @user.image.url %>
    </div>
  <% end %>
<p>MyPage</p>
<p>投稿一覧</p>
<table class="table table-hover boards__table">
  <thead class="thead-dark">
    <tr>
      <th>タイトル</th>
      <th>内容</th>
      <th>画像</th>
    </tr>
  </thead>
  <tbody>
  <% @user.posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.content %></td>
      <td><%= post.image %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%if user_signed_in? %>
  <% unless @user.id == current_user.id %>
    <% if @isRoom == true %>
      <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary btn-lg">チャットへ</a>
    <% else %>
      <%= form_for @room do |f| %>
        <%= fields_for @entry do |e| %>
          <%= e.hidden_field :user_id, value: @user.id %>
        <% end %>
        <%= f.submit "チャットを始める", class:"btn btn-primary btn-lg user-show-chat"%>
      <% end %>
    <% end %>
  <% end %>
<% elsif company_signed_in? %>
  <% if @user_ids.include?(user.id) %>
    <br>
    <%= link_to "チャットへ", room_path(current_shop.rooms.find_by(user_id: user.id)) %><br>
  <% else %>
    <%= form_for Room.new do |f| %>
    <%= f.hidden_field :user_id, :value => user.id %>
    <%= f.submit %>
    <% end %>
  <% end %>
<% end %>
