<h1>企業一覧</h1>
  <% if user_signed_in? %>
    <h2>こんにちは <%= current_user.username %>さん</h2>
    <%= link_to "ログアウト", destroy_user_session_path, :method => :delete %>
    <% elsif company_signed_in? %>
    <h2>こんにちは <%= current_company.name %>さん</h2>
    <%= link_to "ログアウト", destroy_company_session_path, :method => :delete %>
  <% end %>
  <% @companies.each do |c| %>
    <p><a href="/companies/<%= c.id %>"><%= c.name %>さん</a></p>
    <hr>
  <% end %>
