<h1>企業一覧</h1>
  <% if user_signed_in? %>
    <h2>こんにちは <%= current_user.username %>さん</h2>
    <%= link_to "ログアウト", destroy_user_session_path, :method => :delete %>
    <% elsif company_signed_in? %>
    <h2>こんにちは <%= current_company.name %>さん</h2>
    <%= link_to "ログアウト", destroy_company_session_path, :method => :delete %>
  <% end %>
  <table class="table table-hover boards__table">
  <thead class="thead-dark">
    <tr>
      <th>企業名</th>
      <th>画像</th>
      <th>業界</th>
      <th>求める人物像</th>
      <th>詳細</th>
      <th>削除</th>
      </tr>
  </thead>
  <tbody>
    <% @companies.each do |c| %>
      <tr>
        <td><a href="/companies/<%= c.id %>"><%= c.name %>さん</a></th>
        <td><%= c.image %></th>
        <td><%= c.industry %></td>
        <td><%= c.required_person %></td>
        <td><%= link_to '詳細', companies_show_path, class: 'btn btn-outline-dark' %></td>
        <%#　<% if user_signed_in? && current_user.id == post.user_id %>
          <%#　<td><%= link_to '削除', post, class: 'btn btn-outline-dark', method: :delete %></td>
        <%#　<% end %>%>
      </tr>
    <% end %>
  </tbody>
</table>
