<div class="d-flex align-items-center mt-4 mb-4">
  <div class="ml-auto boards__linkBox">
    <%= link_to '一覧', posts_path, class: 'btn btn-outline-dark' %>
    <% if user_signed_in? && current_user.id == post.user_id %>
      <%= link_to '編集', edit_post_path(@post), class: 'btn btn-outline-dark' %>
    <% end %>
  </div>
</div>

<% if flash[:notice] %>
  <div class="alert alert-primary"><%= flash[:notice] %></div>
<% end %>

<div class="card">
  <div class="card-header">
    <h4><%= @post.title %></h4>
    <% @post.tags.each do |tag| %>
      <span class="badge badge-primary"><%= tag.name %></span>
    <% end %>
  </div>

  <div class="card-body">
    <p class="card-text"><%= simple_format(@post.content) %></p>
    <p class="text-right font-weight-bold mr-10"><%= @post.image %></p>
  </div>
</div>

<h2 class="comment">コメント一覧</h2>
<% @answers.each do |a| %>
  <div>
    <%= a.company.name %>
    <%= a.title %>
    <%= a.content %>
    <hr>
  </div>
<% end %>

<% if company_signed_in? %>
  <%= form_for [@post, @answer] do |f| %>
    <%= hidden_field :post_id, :value => @post.id  %>
    <%= hidden_field :company_id, :value => current_company.id  %>
    <div class="form-group">
      <%= f.label :title, 'タイトル' %>
      <%= f.text_field :title %>
    </div>
    <br>
    <div class="form-group">
      <%= f.label :content, '内容' %>
      <%= f.text_area :content %>
    </div>
    <%= f.submit 'コメントする' %>
  <% end %>
<% end %>