<!DOCTYPE html>
<html>
  <head>
    <title>ConnectApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
      <nav>
          <% if user_signed_in? %>
            <strong>
            <%= link_to 'マイページ', user_path(current_user.id) %></strong>
            <%= link_to 'プロフィール変更', edit_user_registration_path %>
            <%= link_to '新規投稿', new_post_path %>
            <%= link_to '投稿一覧', posts_path %>
            <%= link_to 'ユーザー一覧', users_path %>
            <%= link_to '求人一覧', companyrequired_posts_path %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          <% elsif company_signed_in? %>
            <strong>
            <%= link_to '企業マイページ', company_path(current_company.id) %></strong>
            <%= link_to 'プロフィール変更', edit_company_registration_path %>
            <%= link_to 'ユーザー投稿一覧', posts_path %>
            <%= link_to '企業投稿一覧', company_posts_path %>
            <%= link_to '新規投稿', new_company_post_path %>
            <%= link_to '求人投稿', new_companyrequired_post_path %>
            <%= link_to 'ユーザー一覧', users_path %>
            <%= link_to 'ログアウト', destroy_company_session_path, method: :delete %>
          <% else %>
            <%= link_to '新規登録', new_user_registration_path %>
            <%= link_to 'ログイン', new_user_session_path %>
            <%= link_to '投稿一覧', posts_path %>
            <%= link_to 'ユーザー一覧', users_path %>
            <%= link_to '企業様はこちらから', new_company_session_path %>
          <% end %>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
